# Dependencies
node_modules
env

# Testing
coverage

# Misc
.DS_Store
.eslintcache
.env


# Editors
.idea
*.iml
.vscode
*.icloud
*.code-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist
build
target

# ChatGPT output
test


*.key
*.csr
*.crt
*.pyc